/*Globals*/
/* Border Radius */
/* Border Widths*/
/*verde*/
/*cinza escuro*/
/*branco*/
/*cinza*/
/*preto*/
/* Font size */
/*Font Weights */
/* Shadow Levels */
/* Spacing Inline */
/* Spacing Inset */
/* Spacing Squish */
/* Spacing Stack */
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/Akrobat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Light.woff2") format("woff2"), url("../fonts/Akrobat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-ExtraLight.woff2") format("woff2"), url("../fonts/Akrobat-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'Akrobat'; }

h1 {
  line-height: 70px;
  text-transform: uppercase; }

h2 {
  line-height: 40px; }

p {
  line-height: 24px;
  font-weight: 100; }

.secundary-button {
  border: solid 1px #CDDB00;
  background: #27272A;
  color: #FFFFFF; }
  .secundary-button:hover {
    background: #CDDB00;
    color: #27272A;
    cursor: pointer; }

.terciary-button {
  border: solid 1px #27272A;
  background: #CDDB00;
  color: #27272A; }
  .terciary-button:hover {
    background: #27272A;
    color: #CDDB00;
    cursor: pointer; }

button {
  border: solid 1px #27272A;
  padding: 16px 24px;
  transition: background 0.2s ease-in-out;
  background: #FFFFFF;
  min-width: 180px; }
  button:hover {
    background: #27272A;
    color: #CDDB00;
    cursor: pointer; }

.bgheader {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); }

header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: background 0.2s ease-in-out; }
  header .menu {
    padding-top: 8px; }
    header .menu ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      header .menu ul li {
        display: inline;
        padding-left: 48px;
        font-size: 16px; }
        header .menu ul li a {
          color: #27272A; }
          header .menu ul li a:hover {
            text-decoration: none;
            opacity: 0.6;
            border-bottom: solid 2px #27272A;
            padding-bottom: 8px; }
    header .menu .apply-button {
      border: solid 1px #27272A;
      padding: 16px 24px;
      margin-left: 48px;
      transition: background 0.2s ease-in-out;
      min-width: 180px !important; }
      header .menu .apply-button:hover {
        background: #27272A;
        color: #CDDB00;
        cursor: pointer; }

.initial:before {
  content: '';
  position: absolute;
  height: 75%;
  width: 50%;
  z-index: -1;
  left: 50%;
  background: #CDDB00; }
.initial .initial-left h1 {
  font-size: 80px;
  margin-top: 120px;
  margin-bottom: 24px; }
  .initial .initial-left h1 .thin {
    font-weight: 100; }
  .initial .initial-left h1:after {
    content: '';
    border-bottom: solid 30px #CDDB00;
    margin-top: -30px;
    float: left;
    width: 240px; }
.initial .initial-left p {
  font-size: 20px;
  margin-bottom: 24px; }
.initial .initial-left button {
  margin-bottom: 24px; }
.initial .initial-left .dots {
  background: url(../images/dots.svg);
  width: 400px;
  height: 250px; }
.initial .initial-right {
  margin-top: 120px; }
  .initial .initial-right .video-home {
    background: url(../images/foto-home.jpg) no-repeat center center;
    padding: 40px;
    color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); }
    .initial .initial-right .video-home h2 {
      font-size: 40px;
      line-height: 52px; }
    .initial .initial-right .video-home .play-video {
      margin-top: 160px;
      margin-bottom: 160px; }
    .initial .initial-right .video-home .txt-video {
      font-size: 24px;
      font-weight: 300;
      border-bottom: solid 2px #CDDB00; }

.pillars {
  margin-top: 40px; }
  .pillars .card-pillars {
    padding: 32px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    background: #FFFFFF; }
    .pillars .card-pillars h2 {
      font-size: 32px;
      margin-bottom: 24px; }
    .pillars .card-pillars p {
      font-size: 16px;
      margin-bottom: 32px; }
    .pillars .card-pillars .learn-more-pillars {
      color: #CDDB00; }

.courses {
  background: #27272A;
  padding-top: 160px;
  padding-bottom: 160px;
  margin-top: -80px; }
  .courses .courses-info .sub-title {
    color: #CDDB00;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px; }
  .courses .courses-info h2 {
    font-size: 48px;
    color: #CDDB00;
    font-weight: 700;
    margin-top: 16px; }
  .courses .courses-info p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 40px; }

.apply-home {
  margin-top: -80px; }
  .apply-home:before {
    content: '';
    position: absolute;
    height: 250px;
    width: 100%;
    background: url(../images/dots-2.svg);
    margin-top: 160px; }
  .apply-home .apply-home-cards {
    padding: 32px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    background: #CDDB00; }
    .apply-home .apply-home-cards h2 {
      margin-bottom: 32px; }
    .apply-home .apply-home-cards p {
      margin-bottom: 32px; }

.dufry-home {
  margin-top: 32px; }
  .dufry-home .dufry-left .dufry-img {
    margin-top: -210px; }
  .dufry-home .dufry-left .block-dufry {
    padding: 32px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    background: #FFFFFF; }
    .dufry-home .dufry-left .block-dufry img {
      margin-bottom: 24px; }

footer {
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
  padding-top: 56px;
  padding-bottom: 56px;
  margin-top: 80px;
  font-size: 16px;
  background: #27272A; }
  footer .menu-footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    footer .menu-footer ul li {
      display: inline;
      padding-right: 48px;
      font-size: 16px; }
  footer .menu-footer h2 {
    font-size: 16px;
    padding-top: 80px; }
  footer .newsletter input {
    border: 0px;
    border-radius: 0px; }

.about-us {
  background: #CDDB00; }
  .about-us .about-us-lettering h1 {
    font-size: 80px;
    margin-top: 120px;
    margin-bottom: 64px; }
    .about-us .about-us-lettering h1:before {
      content: '';
      position: absolute;
      height: 150px;
      width: 80%;
      background: url(../images/dots-3.svg);
      margin-top: 80px; }
  .about-us .quick-menu {
    margin-top: 216px; }
    .about-us .quick-menu .first-item {
      background: #27272A;
      padding: 16px;
      color: #CDDB00; }
    .about-us .quick-menu .itens-menu {
      background: #FFFFFF; }
    .about-us .quick-menu ul {
      list-style-type: none;
      margin-bottom: 0;
      padding: 16px 16px 16px 0;
      background: #FFFFFF; }
      .about-us .quick-menu ul .first-item {
        background: #27272A;
        padding: 16px;
        color: #FFFFFF; }
      .about-us .quick-menu ul .menu-itens {
        padding-right: 24px;
        padding-left: 24px; }
      .about-us .quick-menu ul li {
        display: inline;
        font-size: 16px; }

.about-us-values {
  margin-top: 120px;
  margin-bottom: 64px; }
  .about-us-values .values-itens-title {
    margin-bottom: 64px; }
    .about-us-values .values-itens-title h2:after {
      content: '';
      border-bottom: solid 4px #CDDB00;
      margin-top: 25px;
      float: left;
      width: 40px;
      margin-right: 16px; }
  .about-us-values .values-itens-content h3.teamwork {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 500; }
    .about-us-values .values-itens-content h3.teamwork:after {
      content: '';
      border-bottom: solid 16px #CDDB00;
      margin-top: 15px;
      float: left;
      position: absolute;
      width: 100px;
      left: 16px;
      z-index: -1; }
  .about-us-values .values-itens-content h3.inspiring {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 500; }
    .about-us-values .values-itens-content h3.inspiring:after {
      content: '';
      border-bottom: solid 16px #CDDB00;
      margin-top: 15px;
      float: left;
      position: absolute;
      width: 197px;
      left: 16px;
      z-index: -1; }
  .about-us-values .values-itens-content h3.social-contribution {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 500; }
    .about-us-values .values-itens-content h3.social-contribution:after {
      content: '';
      border-bottom: solid 16px #CDDB00;
      margin-top: 15px;
      float: left;
      position: absolute;
      width: 192px;
      left: 16px;
      z-index: -1; }
  .about-us-values .values-itens-content h3.accessibility {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 500; }
    .about-us-values .values-itens-content h3.accessibility:after {
      content: '';
      border-bottom: solid 16px #CDDB00;
      margin-top: 15px;
      float: left;
      position: absolute;
      width: 123px;
      left: 16px;
      z-index: -1; }
  .about-us-values .values-itens-content h3.innovation {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 500; }
    .about-us-values .values-itens-content h3.innovation:after {
      content: '';
      border-bottom: solid 16px #CDDB00;
      margin-top: 15px;
      float: left;
      position: absolute;
      width: 102px;
      left: 16px;
      z-index: -1; }
  .about-us-values .values-itens-content h3.opportunities {
    padding-top: 16px;
    font-size: 24px;
    font-weight: 500; }
    .about-us-values .values-itens-content h3.opportunities:after {
      content: '';
      border-bottom: solid 16px #CDDB00;
      margin-top: 15px;
      float: left;
      position: absolute;
      width: 224px;
      left: 16px;
      z-index: -1; }
  .about-us-values .values-itens-content hr {
    border-top: 1px dotted #CDDB00;
    margin-bottom: 24px;
    margin-top: 24px; }

.about-us-team .team-itens-title {
  margin-bottom: 64px; }
  .about-us-team .team-itens-title h2:after {
    content: '';
    border-bottom: solid 4px #CDDB00;
    margin-top: 25px;
    float: left;
    width: 40px;
    margin-right: 16px; }
.about-us-team .collab .card-collab {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  background: #FFFFFF;
  padding: 0px;
  margin-bottom: 32px;
  min-height: 325px; }
  .about-us-team .collab .card-collab .collab-1-foto {
    height: 160px;
    background: #27272A; }
  .about-us-team .collab .card-collab .collab-content {
    padding: 32px; }
    .about-us-team .collab .card-collab .collab-content h4 {
      font-size: 20px;
      font-weight: 500;
      color: #CDDB00; }

.embassies {
  margin-top: 120px;
  margin-bottom: 64px; }
  .embassies .embassies-itens-title {
    margin-bottom: 64px; }
    .embassies .embassies-itens-title h2:after {
      content: '';
      border-bottom: solid 4px #CDDB00;
      margin-top: 25px;
      float: left;
      width: 40px;
      margin-right: 16px; }
  .embassies .embassies-itens-content .menu-embassies ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .embassies .embassies-itens-content .menu-embassies ul li {
      display: inline;
      padding-right: 24px;
      font-size: 20px;
      font-weight: 500; }
  .embassies .embassies-itens-content .menu-bases ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 48px; }
    .embassies .embassies-itens-content .menu-bases ol li {
      display: inline;
      padding-right: 24px;
      font-size: 20px;
      font-weight: 500; }
    .embassies .embassies-itens-content .menu-bases ol ul {
      list-style-type: none;
      margin-top: 16px;
      padding: 0px; }
      .embassies .embassies-itens-content .menu-bases ol ul li {
        font-size: 16px;
        font-weight: 100;
        width: 100%;
        float: left; }

.services-header {
  background: url("../images/bg-cruises.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .services-header .services-header-lettering h1 {
    font-size: 80px;
    margin-top: 360px;
    margin-bottom: 64px;
    color: #FFFFFF;
    text-transform: uppercase; }

.services-beneffits {
  background: #27272A;
  padding-top: 48px;
  padding-bottom: 240px; }
  .services-beneffits .title-beneffits h2 {
    font-size: 56px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 8px; }
  .services-beneffits .text-beneffits {
    color: #FFFFFF;
    font-size: 16px; }

.services-beneffits-cards {
  margin-top: -160px; }
  .services-beneffits-cards .beneffits-cards {
    margin-bottom: 24px; }
    .services-beneffits-cards .beneffits-cards .beneffits-pillars {
      padding: 32px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
      background: #FFFFFF; }
      .services-beneffits-cards .beneffits-cards .beneffits-pillars h2 {
        font-size: 32px;
        margin-bottom: 24px; }
      .services-beneffits-cards .beneffits-cards .beneffits-pillars p {
        font-size: 16px;
        margin-bottom: 32px; }
      .services-beneffits-cards .beneffits-cards .beneffits-pillars img {
        margin-top: 32px; }
    .services-beneffits-cards .beneffits-cards .beneffits-pillars-grey {
      padding: 32px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
      background: #B0B3B2; }
      .services-beneffits-cards .beneffits-cards .beneffits-pillars-grey h2 {
        font-size: 32px;
        margin-bottom: 24px; }
      .services-beneffits-cards .beneffits-cards .beneffits-pillars-grey p {
        font-size: 16px;
        margin-bottom: 32px; }
      .services-beneffits-cards .beneffits-cards .beneffits-pillars-grey img {
        margin-top: 32px; }
  .services-beneffits-cards .mensage {
    border-left: 8px solid #27272A;
    margin-top: 24px; }
    .services-beneffits-cards .mensage p {
      font-size: 16px;
      padding-left: 16px; }

.services-positions .services-itens-title {
  margin-top: 120px;
  margin-bottom: 56px; }
  .services-positions .services-itens-title h2:after {
    content: '';
    border-bottom: solid 4px #CDDB00;
    margin-top: 25px;
    float: left;
    width: 40px;
    margin-right: 16px; }
.services-positions .services-positions-menu .accordion {
  border-radius: 0; }
  .services-positions .services-positions-menu .accordion .card {
    border-radius: 0;
    border: none; }
    .services-positions .services-positions-menu .accordion .card .card-header {
      border-radius: 0;
      background: rgba(176, 179, 178, 0.4);
      color: #FFFFFF;
      border-bottom: solid 2px #FFFFFF; }
      .services-positions .services-positions-menu .accordion .card .card-header:hover {
        background: #b0b3b2; }
      .services-positions .services-positions-menu .accordion .card .card-header h2 button {
        border-radius: 0;
        background: rgba(176, 179, 178, 0);
        color: #27272A;
        font-size: 24px;
        text-decoration: none;
        margin: 0;
        padding: 0; }
        .services-positions .services-positions-menu .accordion .card .card-header h2 button .seta-cinza {
          float: right; }
    .services-positions .services-positions-menu .accordion .card .card-body {
      border-left: solid 1px rgba(176, 179, 178, 0.4);
      border-right: solid 1px rgba(176, 179, 178, 0.4);
      border-bottom: solid 1px rgba(176, 179, 178, 0.4); }
      .services-positions .services-positions-menu .accordion .card .card-body .positions-show hr {
        border-top: 1px dotted #CDDB00;
        margin-bottom: 24px;
        margin-top: 24px; }
      .services-positions .services-positions-menu .accordion .card .card-body .positions-show h2 {
        font-size: 20px; }
      .services-positions .services-positions-menu .accordion .card .card-body .positions-show button {
        margin-top: 16px; }
.services-positions .no-position {
  margin-top: 32px;
  padding: 32px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  background: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
