/*Globals*/

@import "globals/border-radius/border-radius.scss";
@import "globals/border-widths/border-widths.scss";
@import "globals/colors/colors.scss";
@import "globals/font-sizes/font-sizes.scss";
@import "globals/font-wheighs/font-wheighs.scss";
@import "globals/shadow-levels/shadow-level.scss";
@import "globals/spacing-inline/spacing-inline.scss";
@import "globals/spacing-inset/spacing-inset.scss";
@import "globals/spacing-squish/spacing-squish.scss";
@import "globals/spacing-stack/spacing-stack.scss";

* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-Regular.woff2') format('woff2'),
        url('../fonts/Akrobat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-Bold.woff2') format('woff2'),
        url('../fonts/Akrobat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-SemiBold.woff2') format('woff2'),
        url('../fonts/Akrobat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-Light.woff2') format('woff2'),
        url('../fonts/Akrobat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Akrobat-ExtraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


body {
	 font-family: 'Akrobat';
}

h1 {
	line-height: 70px;
	text-transform: uppercase;
}
h2 {
    line-height: 40px;	
}
p {
	line-height: 24px;
	font-weight: $font-weight-light;
}

.secundary-button {
	border: solid $border-width-hairline $primary-color-01;
	background:$primary-color-02;
	color:$securandary-color-01;

	&:hover {
		background: $primary-color-01;
		color: $primary-color-02;
		cursor: pointer;
	}
}

.terciary-button {
	border: solid $border-width-hairline $primary-color-02;
	background:$primary-color-01;
	color:$primary-color-02;

	&:hover {
		background: $primary-color-02;
		color: $primary-color-01;
		cursor: pointer;
	}
}
button {
	border: solid $border-width-hairline $primary-color-02;
	padding:$spacing-squish-xs;
	transition: background 0.2s ease-in-out;
	background:$securandary-color-01;
	min-width: 180px;



	&:hover {
		background: $primary-color-02;
		color: $primary-color-01;
		cursor: pointer;

	}


}
.bgheader {
	background:#ffffff;
	box-shadow: $shadow--level2;
}
header {
	padding-top: $spacing-inset-sm;
	padding-bottom: $spacing-inset-sm;
    width: 100%;	
    position: fixed;
    z-index: 1;
	transition: background 0.2s ease-in-out;
 

	.menu {

		padding-top:$spacing-inset-nano;

		ul {
			list-style-type: none;
			margin: $spacing-inset-none;
			padding: $spacing-inset-none;

			li {
				display: inline;
				padding-left: $spacing-inline-md;
				font-size: $font-size-xs;
				a {
					color: $primary-color-02;

					&:hover {
						text-decoration: none;
						opacity: 0.6;
						border-bottom: solid $border-width-thin $primary-color-02;
						padding-bottom:$spacing-inset-nano;
					}

				}
			}
		}
		.apply-button {
			border: solid $border-width-hairline $primary-color-02;
			padding:$spacing-squish-xs;
			margin-left:$spacing-inline-md;
			transition: background 0.2s ease-in-out;
			min-width: 180px !important;

			&:hover {
				background: $primary-color-02;
				color: $primary-color-01;
				cursor: pointer;

			}
		}
	}
}

.initial {
	
&:before {
    content: '';
    position: absolute;
    height: 75%;
    width: 50%;
    z-index: -1;
    left: 50%;
    background: $primary-color-01;
}

	.initial-left {
		h1 {
			font-size:$font-size-display;
			margin-top: $spacing-stack-xxxl;
			margin-bottom: $spacing-stack-xxs;
			

			.thin {
				font-weight: $font-weight-light;
			}

			&:after {
			    content: '';
			    border-bottom: solid 30px #CDDB00;
			    margin-top: -30px;
			    float: left;
			    width: 240px;
			}
		}
		p {
			font-size: $font-size-sm;
			margin-bottom: $spacing-stack-xxs;

		}

		button {
			margin-bottom: $spacing-stack-xxs;
		}

		.dots {
			background: url(../images/dots.svg);
			width: 400px;
			height: 250px;
		}
	}

	.initial-right {

		margin-top: $spacing-stack-xxxl;



		.video-home {
			background: url(../images/foto-home.jpg) no-repeat center center ; 
	
		  	padding: $spacing-inset-lg;	
		  	color: $securandary-color-01;
		  	box-shadow: $shadow--level2;
		  	

			h2 {
				font-size: $font-size-x;
				line-height: 52px;
				
			}

			.play-video {
				margin-top: $spacing-stack-huge;
				margin-bottom: $spacing-stack-huge;
			}
			.txt-video {
				font-size: $font-size-md;
				font-weight: $font-weight-regular;
				border-bottom: solid $border-width-thin $primary-color-01;
			}

		}

	}

}

.pillars {

	margin-top: $spacing-stack-sm;

	.card-pillars {
		padding:$spacing-inset-md;
		box-shadow: $shadow--level2;
		background:$securandary-color-01;

		h2 {
			font-size: $font-size-lg;
			margin-bottom: $spacing-stack-xxs;
		}
		p {
			font-size: $spacing-inset-xs;
			margin-bottom: $spacing-stack-xs;
		}
		.learn-more-pillars {
			color: $primary-color-01;
		}
	}
	
}

.courses {
	background:$primary-color-02;
	padding-top:$spacing-stack-huge;
	padding-bottom:$spacing-stack-huge;
	margin-top: -$spacing-stack-xxl;

	.courses-info {
		.sub-title {
			color: $primary-color-01;
			font-size: $font-size-xs;
			font-weight: $font-weight-semi-bold;
			margin-bottom: $spacing-stack-xxs;
		}
		h2 {
			font-size:$font-size-xl;
			color: $primary-color-01;
			font-weight: $font-weight-semi-bold;
			margin-top: $spacing-stack-xxxs;
		}
		p {
			font-size: $font-size-xs;
			color:$securandary-color-01;
			margin-bottom: $spacing-stack-sm;
		}
	}
}

.apply-home {

	margin-top: -$spacing-stack-xxl;

	&:before {
    content: '';
    position: absolute;
    height: 250px;
    width: 100%;
    background: url(../images/dots-2.svg);
    margin-top: $spacing-stack-huge;
	}

	.apply-home-cards {
		padding:$spacing-inset-md;
		box-shadow: $shadow--level2;
		background:$primary-color-01;
		
		h2 {
			margin-bottom: $spacing-stack-xs;
		}
		p {
			margin-bottom: $spacing-stack-xs;
		}
	}

}

.dufry-home {

	margin-top: $spacing-stack-xs;

	.dufry-left {
		 .dufry-img {
	 	    margin-top: -210px;	
		 }
		.block-dufry {
			padding:$spacing-inset-md;
			box-shadow: $shadow--level2;
			background:$securandary-color-01;
			img {
				margin-bottom: $spacing-stack-xxs;
			}
		}
	}
}

footer {

	box-shadow: $shadow--level5;
	color: $securandary-color-01;
	padding-top:$spacing-stack-lg;
	padding-bottom:$spacing-stack-lg;
	margin-top:$spacing-stack-xxl;
	font-size: $font-size-xs;
	background:$primary-color-02;

	.menu-footer {

		ul {
			list-style-type: none;
			margin: $spacing-inset-none;
			padding: $spacing-inset-none;

			li {
				display: inline;
				padding-right: $spacing-inline-md;
				font-size: $font-size-xs;
			}
		}

		h2 {
			font-size: $font-size-xs;
			padding-top:$spacing-stack-xxl;
		}
	}

	.newsletter {
		input {
			border: $border-width-none;
			border-radius:$border-width-none;

		}
	}
}


.about-us {

	background:$primary-color-01;

	.about-us-lettering {
		h1 {
			font-size:$font-size-display;
			margin-top: $spacing-stack-xxxl;
			margin-bottom: $spacing-stack-xl;

			&:before {
		    content: '';
		    position: absolute;
		    height: 150px;
		    width: 80%;
		    background: url(../images/dots-3.svg);
		    margin-top: $spacing-stack-xxl;
			}
		}
	}

	.quick-menu {

		margin-top: 216px;

		.first-item {
			background: $primary-color-02;
			padding: $spacing-inline-xxxs;
			color: $primary-color-01;
		}

		.itens-menu {
			background: $securandary-color-01;
		}

		ul {
			list-style-type: none;
   			
			margin-bottom: 0;
			padding: $spacing-inline-xxxs $spacing-inline-xxxs $spacing-inline-xxxs 0;
			background:$securandary-color-01;

			.first-item {
				background: $primary-color-02;
				padding: $spacing-inline-xxxs;
				color: $securandary-color-01;
			}

			.menu-itens {
				padding-right:$spacing-inline-xxs;
				padding-left:$spacing-inline-xxs;
			}

			li {
				display: inline;
				font-size: $font-size-xs;


			}
		}
	}
}

.about-us-values {

		margin-top: $spacing-stack-xxxl;
		margin-bottom: $spacing-stack-xl;

	.values-itens-title {

		margin-bottom: $spacing-stack-xl;

		 h2 {


 			&:after {
			    content: '';
			    border-bottom: solid $border-width-thick $primary-color-01;
			    margin-top: 25px;
			    float: left;
			    width: 40px;
			    margin-right: $spacing-inline-xxxs;
			}
		 }
	}

	.values-itens-content {

		h3.teamwork {

			padding-top: $spacing-stack-xxxs;
			font-size: $font-size-md;
			font-weight: $font-weight-Medium;

			&:after {
	 		    content: '';
			    border-bottom: solid 16px $primary-color-01;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    width: 100px;
			    left: $spacing-inline-xxxs;
			    z-index: -1;
			}
		}
		h3.inspiring {

			padding-top: $spacing-stack-xxxs;
			font-size: $font-size-md;
			font-weight: $font-weight-Medium;			

			&:after {
	 		    content: '';
			    border-bottom: solid 16px $primary-color-01;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    width: 197px;
			    left: $spacing-inline-xxxs;
			    z-index: -1;
			}
		}		
		h3.social-contribution {
			padding-top: $spacing-stack-xxxs;
			font-size: $font-size-md;
			font-weight: $font-weight-Medium;
			&:after {
	 		    content: '';
			    border-bottom: solid 16px $primary-color-01;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    width: 192px;
			    left: $spacing-inline-xxxs;
			    z-index: -1;
			}
		}		
		h3.accessibility {
			padding-top: $spacing-stack-xxxs;
			font-size: $font-size-md;
			font-weight: $font-weight-Medium;
			&:after {
	 		    content: '';
			    border-bottom: solid 16px $primary-color-01;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    width: 123px;
			    left: $spacing-inline-xxxs;
			    z-index: -1;
			}
		}		
		h3.innovation {
			padding-top: $spacing-stack-xxxs;
			font-size: $font-size-md;
			font-weight: $font-weight-Medium;
			&:after {
	 		    content: '';
			    border-bottom: solid 16px $primary-color-01;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    width: 102px;
			    left: $spacing-inline-xxxs;
			    z-index: -1;
			}
		}
		h3.opportunities {
			padding-top: $spacing-stack-xxxs;
			font-size: $font-size-md;
			font-weight: $font-weight-Medium;
			&:after {
	 		    content: '';
			    border-bottom: solid 16px $primary-color-01;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    width: 224px;
			    left: $spacing-inline-xxxs;
			    z-index: -1;
			}
		}

		hr {
			  border-top:$border-width-hairline dotted $primary-color-01;
			  margin-bottom: $spacing-stack-xxs;
			  margin-top: $spacing-stack-xxs;
		}
		
	}
}

.about-us-team {
	.team-itens-title {

		margin-bottom: $spacing-stack-xl;

		 h2 {


 			&:after {
			    content: '';
			    border-bottom: solid $border-width-thick $primary-color-01;
			    margin-top: 25px;
			    float: left;
			    width: 40px;
			    margin-right: $spacing-inline-xxxs;
			}
		 }
	}

	.collab {

		.card-collab {
			box-shadow: $shadow--level2;
			background:$securandary-color-01;
			padding:$spacing-inset-none;
			margin-bottom: $spacing-stack-xs;
			min-height: 325px;

			.collab-1-foto {
				height:$spacing-stack-huge;
				background:$primary-color-02;
			}
			.collab-content {
				padding:$spacing-inset-md;

				h4 {
					font-size: $font-size-sm;
					font-weight: $font-weight-Medium;
					color: $primary-color-01;
				}
			}
		}
	}
}

.embassies {

	margin-top: $spacing-stack-xxxl;
	margin-bottom: $spacing-stack-xl;

	.embassies-itens-title {

		margin-bottom: $spacing-stack-xl;

		 h2 {


 			&:after {
			    content: '';
			    border-bottom: solid $border-width-thick $primary-color-01;
			    margin-top: 25px;
			    float: left;
			    width: 40px;
			    margin-right: $spacing-inline-xxxs;
			}
		 }
	}

	.embassies-itens-content {
		.menu-embassies {
			ul {
				list-style-type: none;
				margin: $spacing-inset-none;
				padding: $spacing-inset-none;

				li {
					display: inline;
					padding-right: $spacing-inline-xxs;
					font-size: $font-size-sm;
					font-weight: $font-weight-Medium;
				}
			}
		}

		.menu-bases {

			ol {
				list-style-type: none;
				margin: $spacing-inset-none;
				padding: $spacing-inset-none;
				margin-top: $spacing-stack-md;
				
				li {
					display: inline;
					padding-right: $spacing-inline-xxs;
					font-size: $font-size-sm;
					font-weight: $font-weight-Medium;
					}

				ul {

					list-style-type: none;
					margin-top: $spacing-stack-xxxs;
					padding: $spacing-inset-none;
					

					li {
						font-size: $font-size-xs;
						font-weight: $font-weight-light;
						width: 100%;
						float: left;
					}
		
				}
			}
		}
	}
}

.services-header {
	background: url("../images/bg-cruises.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	.services-header-lettering {
		h1 {
			font-size:$font-size-display;
			margin-top: $spacing-stack-xxxl*3;
			margin-bottom: $spacing-stack-xl;
			color: $securandary-color-01;
			text-transform: uppercase;
		}
	}
}
.services-beneffits {

	background:$primary-color-02;
	padding-top: $spacing-stack-md;
	padding-bottom: $spacing-stack-xxxl*2;

	.title-beneffits {
		h2 {
			font-size: $font-size-xxl;
			color: $securandary-color-01;
			text-transform: uppercase;
			padding-top: $spacing-stack-nano;
			}
	}
	.text-beneffits {
		color: $securandary-color-01;
		font-size: $font-size-xs;
		
	}
}

.services-beneffits-cards {

	margin-top: -$spacing-stack-huge;

	.beneffits-cards {

		margin-bottom: $spacing-stack-xxs;

		.beneffits-pillars {
			padding:$spacing-inset-md;
			box-shadow: $shadow--level2;
			background:$securandary-color-01;
			

			h2 {
				font-size: $font-size-lg;
				margin-bottom: $spacing-stack-xxs;
			}
			p {
				font-size: $spacing-inset-xs;
				margin-bottom: $spacing-stack-xs;
			}
			img {
			margin-top: $spacing-stack-xs;
			}
		}
		.beneffits-pillars-grey {
			padding:$spacing-inset-md;
			box-shadow: $shadow--level2;
			background:$securandary-color-02;
			

			h2 {
				font-size: $font-size-lg;
				margin-bottom: $spacing-stack-xxs;
			}
			p {
				font-size: $spacing-inset-xs;
				margin-bottom: $spacing-stack-xs;
			}
			img {
			margin-top: $spacing-stack-xs;
			}
		}
	}
	.mensage {

		border-left: $border-width--heavy solid $primary-color-02;
		margin-top: $spacing-stack-xxs;

		p {
			font-size: $font-size-xs;
			padding-left:$spacing-inline-xxxs;

		}
	}
}

.services-positions {
	
	.services-itens-title {

		margin-top: $spacing-stack-xxxl;
		margin-bottom: $spacing-stack-lg;

		 h2 {


 			&:after {
			    content: '';
			    border-bottom: solid $border-width-thick $primary-color-01;
			    margin-top: 25px;
			    float: left;
			    width: 40px;
			    margin-right: $spacing-inline-xxxs;
			}
		 }
	}

	.services-positions-menu {
		.accordion {
			border-radius:0;
			.card {
				border-radius:0;
				border:none;
				.card-header {
					border-radius:0;
					background:rgba(176, 179, 178, 0.4);
					color: $securandary-color-01;
    				border-bottom: solid $border-width-thin $securandary-color-01;
    				&:hover {
    					background:rgba(176, 179, 178, 1);
    				}

					h2 {
						button {
							border-radius:0;
							background:rgba(176, 179, 178, 0);
							color: $primary-color-02;
							font-size: $font-size-md;
							text-decoration: none;
							margin: 0;
							padding:0;

								.seta-cinza {
									float: right;
								}
						}
					}



				}

				.card-body {

					border-left: solid $border-width-hairline rgba(176, 179, 178, 0.4);
					border-right: solid $border-width-hairline rgba(176, 179, 178, 0.4);
					border-bottom: solid $border-width-hairline rgba(176, 179, 178, 0.4);
					.positions-show {

						hr {
						  border-top:$border-width-hairline dotted $primary-color-01;
						  margin-bottom: $spacing-stack-xxs;
						  margin-top: $spacing-stack-xxs;
						}

						h2 {
							font-size: $font-size-sm;
						}

						button {
							margin-top: $spacing-stack-xxxs;
						}
					}
				}
			}
		}
	}

	.no-position {

		margin-top: $spacing-stack-xs;
			padding:$spacing-inset-md;
			box-shadow: $shadow--level2;
			background:$securandary-color-01;
	}
}
