$primary-color-01: #CDDB00; /*verde*/
$primary-color-02: #27272A; /*cinza escuro*/
$securandary-color-01: #FFFFFF; /*branco*/
$securandary-color-02: #B0B3B2; /*cinza*/
$securandary-color-03: #000000; /*preto*/