/* Border Radius */

$border-radius-none:0px;
$border-radius-sm:8px;
$border-radius-md:16px;
$border-radius-lg:24px;
$border-radius-pill:500px;
$border-radius-pill-alternate:500px 0px 0px 500px;
$border-radius-circular:50%;