/* Font size */

$font-size-xs:16px;
$font-size-sm:20px;
$font-size-md:24px;
$font-size-lg:32px;
$font-size-x:40px;
$font-size-xl:48px;
$font-size-xxl:56px;
$font-size-display:80px;
$font-size-giant:96px;