/* Spacing Inline */

$spacing-inline-none:0px;
$spacing-inline-quarck:4px;
$spacing-inline-nano:8px;
$spacing-inline-xxxs:16px;
$spacing-inline-xxs:24px;
$spacing-inline-xs:32px;
$spacing-inline-sm:40px;
$spacing-inline-md:48px;
$spacing-inline-xl:64px;
$spacing-inline-xxl:80px;